* {
  margin: 0;
}
.sidepanel::-webkit-scrollbar-thumb {
  background-color: white;
}
.sidepanel::-webkit-scrollbar-track {
  background-color: #000;
}
.sidepanel::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 2px;
}

.editor-bg {
  background-image: url("/src/images/editor-bg.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  height: 100vh;
  width: 100px;
}

.toolbar {
  width: 63px;
  height: 386px;
  border-radius: 10px;
  border: 1px solid #1e1e1e;
  background: rgba(30, 30, 30, 0.62);
  box-shadow: 1.4047514200210571px 1.4047514200210571px 2.8095028400421143px 0px
    rgba(255, 255, 255, 0.12) inset;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.tool {
  width: 46px;
  height: 46px;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool:hover {
  background-color: black;
  transition: background-color 0.5s;
  cursor: pointer;
}
.active-tool {
  background-color: black;
}
.save-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  background: rgba(30, 30, 30, 0.41);
  box-shadow: 1.4047514200210571px 1.4047514200210571px 2.8095028400421143px 0px
    rgba(255, 255, 255, 0.12) inset;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.save-btn:hover {
  cursor: pointer;
}
.sidepanel {
  height: 564px;
  width: 232px;
  border-radius: 10px;
  border: 1px solid #292929;
  background: rgba(30, 30, 30, 0.41);
  box-shadow: 1.4047514200210571px 1.4047514200210571px 2.8095028400421143px 0px
    rgba(255, 255, 255, 0.12) inset;
  position: absolute;
  right: 30px;
  overflow: hidden;
  overflow-y: scroll;
}

.filter-container {
  height: 90%;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filter-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
}

.image-edit-area {
  width: 1000px;
  height: 700px;
  margin-right: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-dialog {
  width: 300px;
  height: 150px;
  border-radius: 10px;
  border: 1px solid #1e1e1e;
  background: rgba(30, 30, 30, 0.62);
  box-shadow: 1.4047514200210571px 1.4047514200210571px 2.8095028400421143px 0px
    rgba(255, 255, 255, 0.12) inset;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: white;
}

.input-dialog {
  width: 300px;
  height: 150px;
  border-radius: 10px;
  border: 1px solid #1e1e1e;
  background: rgba(30, 30, 30, 0.62);
  box-shadow: 1.4047514200210571px 1.4047514200210571px 2.8095028400421143px 0px
    rgba(255, 255, 255, 0.12) inset;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: white;
  position: absolute;
  left: 45%;
  top: 45%;
  z-index: 999;
  backdrop-filter: blur(20px);
}

.custom-text-input {
  display: inline-block;
  background-color: #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  color: black;
  cursor: pointer;
}

.custom-file-input {
  display: inline-block;
  background-color: #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  color: black;
  cursor: pointer;
}

.custom-file-input input[type="file"] {
  display: none;
}

/* Optional styles to show the selected file name */
.custom-file-input span {
  margin-right: 10px;
}

/* Optional styles to change appearance when the user hovers over the custom input */
.custom-file-input:hover {
  background-color: #ddd;
}
